.title {
  text-align: center;
  letter-spacing: 2px;
  font-size: 56px;
}

.button {
  width: 105px;
  height: 40px;
  border: none;
  border-radius: 5px;
  margin: 30px;
  outline: none;
  color: white;
  background: #222;
  font-family: 'MuseoModerno', cursive;
  font-size: 24px;
  cursor: pointer;
}

.button:active {
  background: #292929;
}